<h2>레시피 수정하기</h2>
<form name="recipeForm" ng-submit="save()" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="title">제목:</label>
        <div class="controls">
            <input ng-model="recipe.title" class="input-xlarge"
                id="title" focus required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="description">설명:</label>
        <div class="controls">
            <textarea ng-model="recipe.description" class="input-xlarge"
                id="description"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="ingredients">재료:</label>
        <div class="controls">
            <ul id="ingredients" class="unstyled"
                ng-controller="IngredientsCtrl">
                <li ng-repeat="ingredient in recipe.ingredients">
                    <input ng-model="ingredient.ingredientName" class="input-small">
                    <input ng-model="ingredient.amount" class="input-mini">
                    <input ng-model="ingredient.amountUnits" class="input-mini">
                    <button type="button" class="btn btn-mini"
                        ng-click="removeIngredient($index)">
                        <i class="icon-minus-sign"></i> 삭제
                    </button></li>
                <button type="button" class="btn btn-mini"
                    ng-click="addIngredient()">
                    <i class="icon-plus-sign"></i> 추가
                </button>
            </ul>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="instructions">조리법:</label>
        <div class="controls">
            <textarea ng-model="recipe.instructions"
                class="input-xlarge" id="instructions"></textarea>
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary"
            ng-disabled="recipeForm.$invalid">저장</button>
        <button type="button" ng-click="remove()" ng-show="!recipe.id"
            class="btn">삭제</button>
    </div>
</form>
