<h2>{{recipe.title}}</h2>

<pre>{{recipe.description}}</pre>

<h3>요리 재료</h3>
<span ng-show="recipe.ingredients.length == 0">재료가 없습니다</span>
<ul class="unstyled" ng-hide="recipe.ingredients.length == 0">
    <li ng-repeat="ingredient in recipe.ingredients">
        <span>{{ingredient.ingredientName}}</span>
        <span>{{ingredient.amount}}</span>
        <span>{{ingredient.amountUnits}}</span>
    </li>
</ul>

<h3>요리 설명</h3>
<pre>{{recipe.instructions}}</pre>

<form ng-submit="edit()" class="form-horizontal">
    <div class="form-actions">
        <button class="btn btn-primary">수정</button>
    </div>
</form>
