<!doctype html>
<html ng-app>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller='DeathrayMenuController'>
      <button ng-click='toggleMenu()'>메뉴 On / Off</button>
      <ul ng-show='showMenu'>
        <li ng-click='stun()'>기절시키기</li>
        <li ng-click='disintegrate()'>분해하기</li>
        <li ng-click='erase()'>역사에서 지우기</li>
      </ul>
    <div/>
    <script>
      function DeathrayMenuController($scope) {
        $scope.showMenu = false;

        $scope.toggleMenu = function() {
          $scope.showMenu = !$scope.showMenu;
        };
      }
    </script>
  </body>
</html>